body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #f1f1f1;
    margin: 0 auto;
}
#myP1{
    font-size: 20px;
    font-weight: bold;
}
#myButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: #4CAF50; /* Green */
    border-radius: 5px;
    border: 5cm;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.container{
    width: 1000px;
    margin: 0 auto;
}

.myLabels{
    font-size: 25px;
}